<!-- Movie 1  -->
<div class="fluid-container">
  <div data-aos="fade-up" id="card1" class="card">
    <div class="row">
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
        <img
          src="./assets/images/movie1.PNG"
          class="img-resposnive"
          style="width: 100%; height: 500px"
        />
      </div>
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
        <p id="title">STAR WARS: REVENGE OF THE SITH</p>
        <br />
        <p id="content">
          Nulla vitae nunc tellus. Integer aliquam vestibulum nisl, et mollis
          nisi accumsan et. Suspendisse ut orci elit. In mollis efficitur ipsum,
          non sodales sapien semper non. Quisque venenatis justo ac dui laoreet,
          vel consequat felis euismod. Mauris quis risus urna. Curabitur
          interdum lacinia ex, nec placerat tellus. Phasellus hendrerit augue eu
          neque iaculis consequat. Nullam arcu purus, vulputate quis massa ut,
          vehicula sagittis nunc. Class aptent taciti sociosqu ad litora
          torquent per conubia nostra, per inceptos himenaeos. Quisque euismod
          mattis augue, eget pretium tortor mollis at. Aenean leo lacus, sodales
          at molestie in, egestas eget lacus
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Movie 2  -->
<div class="fluid-container">
  <div data-aos="fade-up" id="card1" class="card">
    <div class="row">
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
        <img
          src="./assets/images/movie2.PNG"
          class="img-resposnive"
          style="width: 100%; height: 500px"
        />
      </div>
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
        <p id="title">ROGUE ONE: A STAR WARS STORY</p>
        <br />
        <p id="content">
          Nulla vitae nunc tellus. Integer aliquam vestibulum nisl, et mollis
          nisi accumsan et. Suspendisse ut orci elit. In mollis efficitur ipsum,
          non sodales sapien semper non. Quisque venenatis justo ac dui laoreet,
          vel consequat felis euismod. Mauris quis risus urna. Curabitur
          interdum lacinia ex, nec placerat tellus. Phasellus hendrerit augue eu
          neque iaculis consequat. Nullam arcu purus, vulputate quis massa ut,
          vehicula sagittis nunc. Class aptent taciti sociosqu ad litora
          torquent per conubia nostra, per inceptos himenaeos. Quisque euismod
          mattis augue, eget pretium tortor mollis at. Aenean leo lacus, sodales
          at molestie in, egestas eget lacus
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Movie 3  -->
<div class="fluid-container">
  <div data-aos="fade-up" id="card1" class="card">
    <div class="row">
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
        <img
          src="./assets/images/movie3.PNG"
          class="img-resposnive"
          style="width: 100%; height: 500px"
        />
      </div>
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
        <p id="title">STAR WARS: RETURN OF THE JEDI</p>
        <br />
        <p id="content">
          Nulla vitae nunc tellus. Integer aliquam vestibulum nisl, et mollis
          nisi accumsan et. Suspendisse ut orci elit. In mollis efficitur ipsum,
          non sodales sapien semper non. Quisque venenatis justo ac dui laoreet,
          vel consequat felis euismod. Mauris quis risus urna. Curabitur
          interdum lacinia ex, nec placerat tellus. Phasellus hendrerit augue eu
          neque iaculis consequat. Nullam arcu purus, vulputate quis massa ut,
          vehicula sagittis nunc. Class aptent taciti sociosqu ad litora
          torquent per conubia nostra, per inceptos himenaeos. Quisque euismod
          mattis augue, eget pretium tortor mollis at. Aenean leo lacus, sodales
          at molestie in, egestas eget lacus
        </p>
      </div>
    </div>
  </div>
</div>


<!-- Movie 3  -->
<div class="fluid-container">
  <div data-aos="fade-up" id="card1" class="card">
    <div class="row">
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
        <img
          src="./assets/images/movie4.PNG"
          class="img-resposnive"
          style="width: 100%; height: 500px"
        />
      </div>
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
        <p id="title">STAR WARS: REVENGE OF THE SITH</p>
        <br />
        <p id="content">
          Nulla vitae nunc tellus. Integer aliquam vestibulum nisl, et mollis
          nisi accumsan et. Suspendisse ut orci elit. In mollis efficitur ipsum,
          non sodales sapien semper non. Quisque venenatis justo ac dui laoreet,
          vel consequat felis euismod. Mauris quis risus urna. Curabitur
          interdum lacinia ex, nec placerat tellus. Phasellus hendrerit augue eu
          neque iaculis consequat. Nullam arcu purus, vulputate quis massa ut,
          vehicula sagittis nunc. Class aptent taciti sociosqu ad litora
          torquent per conubia nostra, per inceptos himenaeos. Quisque euismod
          mattis augue, eget pretium tortor mollis at. Aenean leo lacus, sodales
          at molestie in, egestas eget lacus
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Displaying the footer -->
<app-footer></app-footer>


