<!-- Sub header created -->
<div class="fluid-container">
  <div class="sub-header">
    <div class="row justify-content-center">
      <div
        (click)="scroll(target1)"
        id="header-link"
        class="col-sm-12 col-xs-12 col-md-6 col-lg-3"
      >
        <a>Our Mission</a>
      </div>
      <div
        (click)="scroll(target2)"
        id="header-link"
        class="col-sm-12 col-xs-12 col-md-6 col-lg-3"
      >
        <a>Our Vision</a>
      </div>
      <div
        (click)="scroll(target3)"
        id="header-link"
        class="col-sm-12 col-xs-12 col-md-6 col-lg-3"
      >
        <a>Our Work</a>
      </div>
      <div
        (click)="scroll(target4)"
        id="header-link"
        class="col-sm-12 col-xs-12 col-md-6 col-lg-3"
      >
        <a>Awards</a>
      </div>
    </div>
  </div>
</div>


<!-- Content for the about-us section -->
<div class="fluid-container">
  <div style="margin-top: 140px" class="banner-section">
    <img
      src="./assets/images/aboutusbanner.png"
      class="img-responsive"
      style="height: 700px; width: 100%"
    />
  </div>
</div>

<!-- Content for Our Mission  -->
<div id="paragraphs" class="fluid-container">
  <div class="paragraph-one">
    <div #target1 class="row justify-content-center">
      <h1>Our Mission</h1>
    </div>
    <div class="row">
      <p>
        Maecenas rutrum, sem et vehicula mollis, orci libero luctus mi, id
        pharetra sapien justo vel erat. Ut commodo odio ac metus tincidunt, id
        faucibus nulla sagittis. <br />Aenean feugiat felis ante, sed blandit
        lacus mollis ac. Etiam vel massa ut eros fermentum aliquet sit amet ut
        massa. Nam in lorem mauris. Maecenas id purus massa. Vivamus at ipsum
        diam. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. <br />Morbi a tellus sollicitudin, vestibulum
        nisl vitae, consectetur lacus. Mauris sodales, purus in rhoncus
        condimentum, arcu tortor iaculis lacus, eget efficitur odio augue sit
        amet urna. Nulla dignissim cursus mollis. Sed hendrerit fringilla
        gravida. Nam venenatis diam eu ante tempor vehicula. Cras dignissim
        libero non nisl ultricies vehicula.<br />
        Praesent quis condimentum nulla.
      </p>
    </div>
  </div>
</div>

<!-- Content for Our Vision  -->
<div id="paragraphs" class="fluid-container">
  <div class="paragraph-two">
    <div #target2 class="row justify-content-center">
      <h1>Our Vision</h1>
    </div>
    <div class="row">
      <p>
        Maecenas rutrum, sem et vehicula mollis, orci libero luctus mi, id
        pharetra sapien justo vel erat. Ut commodo odio ac metus tincidunt, id
        faucibus nulla sagittis. <br />Aenean feugiat felis ante, sed blandit
        lacus mollis ac. Etiam vel massa ut eros fermentum aliquet sit amet ut
        massa. Nam in lorem mauris. Maecenas id purus massa. Vivamus at ipsum
        diam. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. <br />Morbi a tellus sollicitudin, vestibulum
        nisl vitae, consectetur lacus. Mauris sodales, purus in rhoncus
        condimentum, arcu tortor iaculis lacus, eget efficitur odio augue sit
        amet urna. Nulla dignissim cursus mollis. Sed hendrerit fringilla
        gravida. Nam venenatis diam eu ante tempor vehicula. Cras dignissim
        libero non nisl ultricies vehicula.<br />
        Praesent quis condimentum nulla.
      </p>
    </div>
  </div>
</div>

<!-- Content for Our Work  -->
<div id="paragraphs" class="fluid-container">
  <div class="paragraph-three">
    <div #target3 class="row justify-content-center">
      <h1>Our Work</h1>
    </div>
    <div class="row">
      <p>
        Maecenas rutrum, sem et vehicula mollis, orci libero luctus mi, id
        pharetra sapien justo vel erat.Maecenas rutrum, sem et vehicula mollis,
        orci libero luctus mi, id pharetra sapien justo vel erat.Maecenas
        rutrum, sem et vehicula mollis, orci libero luctus mi, id pharetra
        sapien justo vel erat. Ut commodo odio ac metus tincidunt, id faucibus
        nulla sagittis. <br />Aenean feugiat felis ante, sed blandit lacus
        mollis ac. Etiam vel massa ut eros fermentum aliquet sit amet ut massa.
        Nam in lorem mauris. Maecenas id purus massa. Vivamus at ipsum diam.
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. <br />Morbi a tellus sollicitudin, vestibulum nisl vitae,
        consectetur lacus. Mauris sodales, purus in rhoncus condimentum, arcu
        tortor iaculis lacus, eget efficitur odio augue sit amet urna. Nulla
        dignissim cursus mollis. Sed hendrerit fringilla gravida. Nam venenatis
        diam eu ante tempor vehicula. Cras dignissim libero non nisl ultricies
        vehicula.<br />
        Praesent quis condimentum nulla.
      </p>
    </div>
  </div>
</div>

<!-- Content for Awards -->
<div id="paragraphs" class="fluid-container">
  <div class="paragraph-four">
    <div #target4 class="row justify-content-center">
      <h1>Awards</h1>
    </div>
    <div class="row">
      <p>
        Maecenas rutrum, sem et vehicula mollis, orci libero luctus mi, id
        pharetra sapien justo vel erat.Maecenas rutrum, sem et vehicula mollis,
        orci libero luctus mi, id pharetra sapien justo vel erat.Maecenas
        rutrum, sem et vehicula mollis, orci libero luctus mi, id pharetra
        sapien justo vel erat.Maecenas rutrum, sem et vehicula mollis, orci
        libero luctus mi, id pharetra sapien justo vel eratMaecenas rutrum, sem
        et vehicula mollis, orci libero luctus mi, id pharetra sapien justo vel
        erat.Maecenas rutrum, sem et vehicula mollis, orci libero luctus mi, id
        pharetra sapien justo vel erat.Maecenas rutrum, sem et vehicula mollis,
        orci libero luctus mi, id pharetra sapien justo vel erat. Ut commodo
        odio ac metus tincidunt, id faucibus nulla sagittis. <br />Aenean
        feugiat felis ante, sed blandit lacus mollis ac. Etiam vel massa ut eros
        fermentum aliquet sit amet ut massa. Nam in lorem mauris. Maecenas id
        purus massa. Vivamus at ipsum diam. Orci varius natoque penatibus et
        magnis dis parturient montes, nascetur ridiculus mus. <br />Morbi a
        tellus sollicitudin, vestibulum nisl vitae, consectetur lacus. Mauris
        sodales, purus in rhoncus condimentum, arcu tortor iaculis lacus, eget
        efficitur odio augue sit amet urna. Nulla dignissim cursus mollis. Sed
        hendrerit fringilla gravida. Nam venenatis diam eu ante tempor vehicula.
        Cras dignissim libero non nisl ultricies vehicula.<br />
        Praesent quis condimentum nulla.
      </p>
    </div>
  </div>
</div>

<br />
<br />

<!-- Displaying the youtube videos -->
<div style="text-align: center" class="container">
  <div class="row justify-content-center">
    <div *ngFor="let item of videolist">
      <iframe
        style="height: 550px; border: 4px solid white; padding: 10px"
        class="img-responsive"
        width="900"
        height="715"
        [src]="getembedurl(item)"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>


<!-- Displaying the footer -->
<app-footer></app-footer>
